<!DOCTYPE html>
<html>
  <head>
	<title>{% block title %}Settings{% endblock %}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/bootstrap/css/bootstrap-responsive.min.css" />
	<script src="{{ app.request.getBaseURL() }}/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ app.request.getBaseURL() }}/bootstrap/bootbox/bootbox.min.js"></script>
	
    {% block stylesheets %}
    {% endblock %}
	
  </head>
  <body>
	<br>
					
	
	<br>
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				{% block menu %}
					{% include "CmsWebSiteBundle:WebSite:default/includes/menu/settingMenu.html.twig" %}
				{% endblock %}
			</div>
			<div class="span9">
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>
  </body>
	{% block javascripts %}
	
	{% endblock %}
	
	{% block includes %}
	{% if includesPath is defined %}
		{% for include in includesPath %}
			<li>
				{% set path = "CmsWebSiteBundle:WebSite:" ~ include %}
				{% include path %}
			</li>
		{% endfor %}
	{% endif %}
	{% endblock %}
</html>