<!DOCTYPE html>
<html>
  <head>
	<title>{% block title %}Youenn PENNARUN -Portfolio{% endblock %}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% block stylesheets %}
    {% endblock %}
	
  </head>
  <body>
	{% block menu %}
		{% include "CmsWebSiteBundle:WebSite:default/includes/menu/settingMenu.html.twig" %}
	{% endblock %}
	
	{% block body %}
    {% endblock %}
  </body>
	{% block javascripts %}
	
	{% endblock %}
	
	{% block includes %}
	{% if includesPath is defined %}
		{% for include in includesPath %}
			<li>
				{% set path = "CmsWebSiteBundle:WebSite:" ~ include %}
				{% include path %}
			</li>
		{% endfor %}
	{% endif %}
	{% endblock %}
</html>