	{% block includes %}
	{% if includesPath is defined %}
		{% for include in includesPath %}
				{% set path = "CmsWebSiteBundle:WebSite:" ~ include %}
				{% include path %}
		{% endfor %}
	{% endif %}
	<script src="http://www.google.com/jsapi"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" />
	
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/bootstrap/css/bootstrap-responsive.min.css" />
	<script src="{{ app.request.getBaseURL() }}/bootstrap/js/bootstrap.min.js"></script>
	<script>
	google.load("jquery", "1.3.2");
	google.load("jqueryui", "1.7.2");	
	$(document).ready(function(){
			localStorage.removeItem("for");
			localStorage.removeItem("path");
			$("[ cmsClass='editable-img']").click(function(){
				localStorage.setItem("for",$(this).attr("cmsId"));
				localStorage.setItem("path",$(this).attr("src"));
				setImage();
				
			});
		}); 
	function openBrowser(){
		$("[cmsId = '"+localStorage.getItem("for")+"']").attr("src",localStorage.getItem("path"));
		var left  = ($(window).width()/2)-(900/2),
					top   = ($(window).height()/2)-(600/2),
					popUp = window.open("{{ path('Uploads-selectImage-wysiwyg',{"from":"imgVar"}) }}", "select image", "width=900, height=600, top="+top+", left="+left);
	}
	
	
	function someFunctionToCallWhenPopUpCloses() {setImage();}
		function setImage() {
				$("[cmsId = '"+localStorage.getItem("for")+"']").attr("src",localStorage.getItem("path"));
				var imgWidth = $("[cmsId = '"+localStorage.getItem("for")+"']").width();
				var imgHeight = $("[cmsId = '"+localStorage.getItem("for")+"']").height();
				var imgSrc = $("[cmsId = '"+localStorage.getItem("for")+"']").attr("src");
				var str = 	'<div id="dialog" title="Image settings">'+
							'<fieldset>'+
							'	<label for="url">url</label>'+
							'	<input type="text" name="url" id="url" class="text ui-widget-content ui-corner-all" value="'+imgSrc+'"/>'+
							'	<button name="browse" id="browseImg" class="text ui-widget-content ui-corner-all">browse images</button>'+
							'	<label for="width">width</label>'+
							'	<input type="text" name="width" id="width" class="text ui-widget-content ui-corner-all" value="'+imgWidth+'"/>'+
							'	<label for="height">height</label>'+
							'	<input type="text" name="height" id="height" class="text ui-widget-content ui-corner-all" value="'+imgHeight+'"/>'+
							'</fieldset>'+
							'</div>';
				$("body").append(str);
				$("#width").bind("change paste keyup", function() {
					imgWidth = parseFloat($(this).val());
					$("[cmsId = '"+localStorage.getItem("for")+"']").width(imgWidth);
				});
				$("#height").bind("change paste keyup", function() {
					imgHeight = parseFloat($(this).val());
					$("[cmsId = '"+localStorage.getItem("for")+"']").height(imgHeight);
				});
				$("#browseImg").click(function(){
					openBrowser();
					$( "#dialog" ).dialog( "close" );
					$("#dialog").remove();
				});
					$( "#dialog" ).dialog({
							modal: true,
							buttons: {
							"Set image": function(){
								imgWidth = parseFloat($("#width").val());
								imgHeight = parseFloat($("#height").val());
								$("[cmsId = '"+localStorage.getItem("for")+"']").attr("src",localStorage.getItem("path"));
								$("[cmsId = '"+localStorage.getItem("for")+"']").width(imgWidth);
								$("[cmsId = '"+localStorage.getItem("for")+"']").height(imgHeight);
								$( this ).dialog( "close" );
								$("#dialog").remove();
								 localStorage.removeItem("for");
								 localStorage.removeItem("path");
							},
								Cancel: function() {
									$( this ).dialog( "close" );
									$("#dialog").remove();
									 localStorage.removeItem("for");
									 localStorage.removeItem("path");
								}
							}
						}
					);
				
				
			}
	</script>
	{% endblock %}