{% for flashMessage in app.session.flashbag.get('error') %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{{ flashMessage }}
	</div>
{% endfor %}
	<form method="POST" {{ form_enctype(form) }} id="form">
	{{ form(form) }}
	</form>