{% set i = 0 %}
{% for tem in template %}
	<div class="span4">
		<h3>{{ tem.getName() }}<h3>
		<a class="btn btn-danger" href="{{path('Settings-manageTemplates',{ 'action':'delete','id': tem.id })}}" >delete</a>
		{% set i = i+1 %}
	</div>
{% endfor %}