
<form method="POST"  enctype="multipart/form-data">
	{% set i = 0 %}
	{% for tem in template %}
		{{ form_widget(attribute(form.checkBox,i), { 'attr': {'class': 'checkbox'} }) }}
		{{ tem.getName() }}
		{% set i = i+1 %}
	{% endfor %}
	{{form_row(form.submit)}}
	{{ form_rest(form) }}
</form>
 
 
<script>
	jQuery(document).ready(function() {
		$('.checkbox').click(function(){
			$('.checkbox').each(function(){
				$(this).prop("checked",false);
			})
			$(this).prop("checked", "checked");		
		})
	});

</script>