{% extends '::settings.html.twig' %}

 {% block body %}
    <p>templates<p>
	<ul>
		{% set i = 0 %}
		{% for page in pageList %}
			<li>
				{{ page.getName() }}
				<a href="{{path('Page', { 'pageName': page.getName() }) }}">see the page</a> ||
				<a href="{{path('Settings-editPage', { 'pageName': page.getName() }) }}">edit the page</a> ||
				<a href="{{path('Settings-browsePages', { 'action': 'delete','id':page.getId() }) }}">remove</a>
				{% set i = i+1 %}
			</li>
		{% endfor %}
		</ul>
 
 
 {% endblock %}